/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body,html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 280px 1fr;
}

#lhs-container {
    display: grid;
    grid-template-rows: 70px 35px 35px 1fr 35px;

    height: calc(100vh - 3px);          /* Add this to make footer appear at bottom of page */

    background-color: rgb(34,34,34);
    border: 1px solid red;
}
    #user-profile, #search-container, #project-template, #new-container {
        /* align-self: center; */
    }
    #user-profile {

        border: 1px solid blue;
    }
    #search-container {

        border: 1px solid blue;
    }
    #project-template {
        border: 1px solid blue;
    }
    #new-container {
        border: 1px solid blue;
    }


#content-container {
    display: grid;
    grid-template-rows: 70px 1fr 1fr 35px;

    background-color: rgb(28,28,28);
}
    #project-container {
        display: grid;
        grid-template-columns: 1fr 40px;

        align-content: center;
    }
        #project {
            grid-column: 1/2;
            justify-self: start;

            border: 1px solid orange;
        }
        #three-dots {
            grid-column: 2/3;
            justify-self: center;

            border: 1px solid orange;
        }
    #todo, #completed {

    }
        .cards {
            display: grid;
            grid-template-columns: 50px 1fr;
            grid-template-rows: 25px 25px;
        }
            .checkbox {
                grid-column: 1/2;
                grid-row: 1/3;

                align-self: center;
                justify-self: center;
                text-align: center;

                border: 2px solid white;
                border-radius: 50%;
                width: 25px;
                height: 25px;

                font-weight: bold;
                font-size: 1.2em;
            }
            .titles, .subcontainer {
                grid-column: 2/3;

                border: solid 1px red;
            }
            .titles {
                grid-row: 1/2;

                align-self: center;

                border: solid 1px red;
            }
            .subcontainer {
                grid-row: 2/3;

                align-self: center;

                display: grid;
                grid-template-columns: 70px 1fr;
            }

    #add-task {

    }